*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container{
    background-color: #eaeaea;
    padding: 10px ;
    border-radius: 8px;
    color: #231751;
    display: inline-block;
    width: 33%;
}

.container .header{
    position: relative;
}

.container .header .icon{
    position: absolute;
    left: 4px;
    top: 2px;
    background-color: orangered;
    border-radius: 50%;
    padding: 8px;
    color: white;
}

.container .header h1{
    margin-top: 4px;
    margin-left: 52px;
}

.container .body img{
    margin-top: 24px;
    margin-left: 4px;
}

.container .body h2{
    margin: 16px 4px;
}

.container .body h3{
    margin: 16px 4px;
}

.container .body p{
    margin: 16px 4px;
}